<div class="row">
    <form action="/admin/generate-fake-posts" method="post">
    <h1>Create Posts</h1>

    <div class="form-group">
        <input type="number" class="form-contr" name="amount">
    </div>
    <button type="submit">Create Posts</button>
    </form>
</div>