<h1>Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Date</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        {{#each comments}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.user}}</td>
            <td>{{generateDate this.date 'MMMM Do YYYY'}}</td>
            <td>
                <form action="/admin/comments/{{this.id}}?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>